---
version: "3.4"
services:
  sof_wrapper:
    build:
      context: .
    volumes:
      - ./:/opt/app
      # mount host certificate bundle into container
      - /etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro
      # mount host hosts file into container
      - /etc/hosts:/etc/hosts:ro
    ports:
      # allow override of published port
      - ${P_PORT:-5000}:5000
    environment:
      REQUESTS_CA_BUNDLE: /etc/ssl/certs/ca-certificates.crt
    env_file:
      - sof_wrapper.env
